body {
    font-family: sans-serif;
}

#persistence-warning {
    background-color: orange;
    padding: 1em;
    margin: 1em;
}

#controls {
    position: absolute;
    right: 10px;
    top: 10px;
}

.toggleButtonWrapper {
    display: inline-block;
}

.toggleButton {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 4px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    /*height: 32px;*/
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    /*min-width: 55px;*/
}

.toggleButtonInput {
    display: none;
}

.toggleButtonInput:checked + .toggleButtonWrapper .toggleButton {
    background-color: #2d6737;
    color: white;
    /*box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;*/
}


.toggleButtonInput:checked + .toggleButtonWrapper .toggleButton:hover {
    background-color: #34723f;
    /*box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;*/
}