body {
    font-family: sans-serif;
}

#persistence-warning {
    background-color: orange;
    padding: 1em;
    margin: 1em;
}

#ui {
    display: flex;
    gap: 10px;

    & button {
        padding: 0.3em 0.6em;
    }
}

#controls {
    position: absolute;
    right: 10px;
    top: 10px;
}

#editor {
    border: 1px solid lightgray;
}

/* based on https://konvajs.org/docs/sandbox/Canvas_Context_Menu.html */
#contextMenu {
    position: absolute;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
    margin: 0;

    & .option {
        width: 100%;
        background-color: white;
        border: none;
        margin: 0;
        padding: 10px;
        text-align: start;

        &:hover {
            background-color: lightgray;
            font-weight: bold;
        }
    }
}